@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=swap');

/*Utilitários*/

:root {
    --color-primary: #684B26;
    --color-secondary: #CD863B;
    --color-white: #ffff;
    --color-historia:#cd863b98;

    


    font-family: "Noto Serif Display" , Helvetica, sans-serif ;
    font-size: 14px;
    line-height: 18px;

   

}
body{
    margin: 0;
}

/*Header*/

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5rem; 
    background-color: var(--color-white);
    margin: 0px;
  }
  
  #header {
    color: var(--color-primary);
    font-size: 6.5rem; 
    margin-left: 1.5rem; 
    font-weight: 300;
    width: 100%;
    
  }

header nav{
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-right: 50px;
}

header nav a{
    color: var(--color-primary);
    font-size: 3.0rem;
    font-weight: 600;
    text-decoration: none; 

  
}
.corzinha{
    color: var(--color-secondary)
}


  
  .corzinha {
    color: var(--color-secondary);
  }
  


/*home*/
@media only screen and (max-width: 1024px) {
    #header {
        display: flex;
        font-size: 4rem; 
        justify-content: center;
        gap: 0.75rem;
        margin-left:0 ;
        margin-right:0 ;
    }

    header nav{
        display: none;
        
    }



}


@media only screen and (max-width: 1525px) {
    #header {
        
        font-size: 3.65rem; 
        
    }

    header nav a{
        font-size: 1.65rem;
    }



}
@media only screen and (max-width: 1250px) {
   
    header nav a{
        font-size: 1.4rem;
    }



}








#home{
    margin: 0px;
    height: 690px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;



}

/* Carrosel/slider */

.slider{
    width: 100%;
    height: 100%;
    overflow: hidden;
    flex:auto;
    
    
}

.slides{
    width: 400% ;
    height: 600px;
    display: flex;

}


.slides input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
    transition: 1s;
}

.slide img{
    width: 100%;
    height: 100%;

}

.manual-navigation{
    position: relative;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
   
  
}

.manual-btn{
    border: 2px solid var(--color-white);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;

}

.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background-color: var(--color-white);
}

/* Botao "venha fazer um tour */

.btn{
    position: relative;
    top: 4px;

    background-color: var(--color-secondary);
    text-decoration: none;
    padding: 10px 70px;
    color: var(--color-white);
    border-radius: 50px;
    font-size: 40px;
    font-weight: 600;   

    transition: 200ms;
}

.btnhover:hover {
    transform: scale(1.02);
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: var(--color-white);
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: var(--color-white);
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: var(--color-white);
}

.navigation-auto div{
    border: 2px solid var(--color-white);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    
}

.navigation-auto{
    position: absolute;
    width: 100%;
    margin-top: 560px;
    display: flex;
    justify-content: center;
    /*gap: 40px*/
    
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

/*Historia*/

#historia{
    height: 800px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;

    margin-top: 70px;

    background-color: rgb(245, 244, 244);
}

#divHistoriaImagens{
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    gap: 12px;
}

.imgHistoria{
    width: 350px;
    height: 224px;
}

.IMG{
    height: 100%;
    width: 100%;
}

#divHistoriaTexto{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 400px;
}

#divHistoriaTexto h1{
    color: var(--color-primary);
    text-align: center;
    font-size: 50px;
    
}

#divHistoriaTexto p{
    color: var(--color-secondary);
    font-size: 25px;
    height: 300px;
    text-align: justify;
    justify-content: center;
    line-height: 45px;
}

@media only screen and (max-width: 1024px) {
    #historia{
    
        flex-direction: column;

    }
    #divHistoriaImagens{
        
        flex-direction: row;
        width: 90%;
        margin-top: 0;
        
        margin-bottom: 7rem;
        
    }

    .imgHistoria{
       
    }

    #divHistoriaTexto{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 5rem;
    }

}












/*Passeios*/



#passeios {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 900px;
    width: 100%; 
}
  
#passeios > div{
    display: flex;
    justify-content: center;

    
}

#passeios > div > h1 {
    font-size: 60px;
    color: var(--color-primary);
    
    width: 90%;
    text-align: center;
    line-height: 100px;

   
}

.containerh1{
    width: 100%;


}

.linha{

    white-space: pre-line;

}

.container-card {
    
    height: 600px;
    width: 420px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border-radius: 50px;
    box-shadow: 0px 4px 4px rgb(0, 0, 0, 0.5);
    font-size: 18px;
    margin-left: 170px;
    margin-right: 100px;
}
  
.container-img-card {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 20px 0px 20px;
}
  
.container-h1-card {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}
  
.container-a-card {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.container-img-card img {
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 30px;
}
  
.container-h1-card h1 {
    display: flex;
    font-size: 25px;
    line-height: 40px;
    margin: 15px;

    color: var(--color-white);
}
  
.container-a-card a {
    
    border-radius: 50px;
    font-size: 30px;
    padding: 35px 25px;
    color: var(--color-white);
    border-style: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;

    margin-bottom: 50px;
}
  
.swiper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0px;
}

.cor1{
    background-color: #765C3B;
}

.cor2{
    background-color: #BDA78D;
}

.cor3{
    background-color:var(--color-primary) ;
}



.swiper-button-next, .swiper-button-prev {
    color: white;
}

@media only screen and (max-width: 1024px) {
    #passeios > div > h1 {
        font-size: 35px;
        color: var(--color-primary);
        
        width: 90%;
        text-align: center;
        line-height: 100px;
    }

    .container-card {
    
        height: 80%;
        width: 80%;
       
    }

    .container-a-card a {
        width: 50%;
        font-size: 20px;
        padding: 20px 10px;
    }

    .container-h1-card h1 {
        
        font-size: 15px;
      
    }


}

@media only screen and (max-width: 1350px) {
    #passeios > div > h1 {
        font-size: 45px;
        color: var(--color-primary);
        
        width: 90%;
        text-align: center;
        line-height: 100px;
    }


    .container-card {
    
        height: 90%;
        width: 90%;
       
    }
    .container-a-card a {
        width: 50%;
        font-size: 23px;
    }

    .container-h1-card h1 {
        
        font-size: 17px;
      
    }


}

@media only screen and (max-width: 745px) {
    #passeios > div > h1 {
        font-size: 45px;
        color: var(--color-primary);
        
        width: 90%;
        text-align: center;
        line-height: 100px;
    }


    .container-card {
    
        height: 90%;
        width: 90%;
       
    }
    .container-a-card a {
        width: 50%;
        font-size: 18px;
        padding: 25px 15px;
    }

    .container-h1-card h1 {
        
        font-size: 13px;
      
    }
    .swiper-button-next, .swiper-button-prev {
        display: none;
    }
    .branco{
        display: none;
    }

}
















/*Tempo*/

#tempo{
    height: 900px;
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 200px 0px 0px 0px;
}

#tempo h1{
    text-align: center;
    color: var(--color-primary);
    font-size: 50px;
    padding-top: 8px;
}

#tempo img{
    filter: invert();
    height: 150px;
    width: 150px;
}

#divTempo{
    background-color: var(--color-secondary);
    height: 700px;
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.containertempo{
    height: 500px;
    width: 640px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 15rem;
    color: var(--color-white);
}

#divisor {
    height: 400px;
    width: 4px;
    background-color: var(--color-white);
}

.containertempo div{
    display: flex;
    align-items: center;
    gap: 10px;
}

.containertempo div img{
    height: 60px;
    width: 90px;
}

@media only screen and (max-width: 1350px) {
    .containertempo{
        font-size: 11rem;
    }
    
    #tempo img{
        filter: invert();
        height: 120px;
        width: 120px;
    }
}

@media only screen and (max-width: 1024px) {
    .containertempo{
        font-size: 7rem;
    }
    
    #tempo img{
        filter: invert();
        height: 120px;
        width: 120px;
    }
    
    #tempo h1{
        font-size: 35px;
    }

}



/*Footer*/

#contato{
    height: 390px;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-secondary);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: var(--color-white);
    
    
}

#contatoP{
 padding-left: 60px;
}

#divContatos{
    display: flex;
    justify-content: center;
    gap: 40px;
    font-size: 25px;
    height: 180px;
}

#divContatos a{
    height: 10px;
    width: 30px;
}


.IMGp{
    height: 50px;
    width: 50px;
}

.IMGpGithub{
    height: 60px;
    width: 60px;
}

#divByron{
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 140px;
    padding-right: 30px;
}

#divByron a{
    color: var(--color-white);
    text-decoration: none;
    font-size: 40px;
    font-weight: 600;
}

#contatoH1{
    align-items: center;
    color: var(--color-primary);
    text-align: center;
    font-size: 50px;
    margin-top: 100px;
}

.divContatos p{

    text-align: center;
}