@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=swap');

/*Utilitários*/

:root {
    --color-primary: #684B26;
    --color-secondary: #CD863B;
    --color-white: #ffff;
    --color-historia:#cd863b98;

    font-family: "Noto Serif Display" , Helvetica, sans-serif ;
    font-size: 14px;
    line-height: 18px;

   

}
body{
    margin: 0;
}

/*Header*/

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: var(--color-white);

    margin: 0px;
}

#header{
    color: var(--color-primary);
    font-size: 90px;
    margin-left: 30px;
    font-weight: 300; 
}

header nav{
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-right: 50px;
}

header nav a{
    color: var(--color-primary);
    font-size: 36px;
    font-weight: 600;
    text-decoration: none; 
  
}
.corzinha{
    color: var(--color-secondary)
}




/*home*/
  

#home{
    margin: 0px;
    height: 690px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;



}

/* Carrosel/slider */

.slider{
    width: 100%;
    height: 100%;
    overflow: hidden;

    
    
}

.slides{
    width: 400%;
    height: 600px;
    display: flex;

}

.slides input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
    transition: 1s;
}

.slide img{
    width: 100%;
    height: 100%;

}

.manual-navigation{
    position: relative;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
   
  
}

.manual-btn{
    border: 2px solid var(--color-white);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;

}

.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background-color: var(--color-white);
}

/* Botao "venha fazer um tour */

.btn{
    position: relative;
    top: 4px;

    background-color: var(--color-secondary);
    text-decoration: none;
    padding: 10px 70px;
    color: var(--color-white);
    border-radius: 50px;
    font-size: 40px;
    font-weight: 600;   

    transition: 200ms;
}

.btnhover:hover {
    transform: scale(1.02);
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: var(--color-white);
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: var(--color-white);
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: var(--color-white);
}

.navigation-auto div{
    border: 2px solid var(--color-white);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    
}

.navigation-auto{
    position: absolute;
    width: 100%;
    margin-top: 560px;
    display: flex;
    justify-content: center;
    /*gap: 40px*/
    
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

/*Historia*/

#historia{
    height: 800px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;

}

#divHistoriaImagens{
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    gap: 12px;
}

.imgHistoria{
    width: 350px;
    height: 224px;
}

.IMG{
    height: 100%;
    width: 100%;
}

#divHistoriaTexto{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 400px;
}

#divHistoriaTexto h1{
    color: var(--color-primary);
    text-align: center;
    font-size: 50px
}

#divHistoriaTexto p{
    color: var(--color-secondary);
    font-size: 25px;
    height: 300px;
    text-align: justify;
    justify-content: center;
    line-height: 45px;
}

/*Passeios*/

#passeios{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    height: 950px;
    margin-top: 100px;
    
}

#passeios h1{
    font-size: 60px;
    max-width: 1300px;
    text-align: center;
    line-height: 70px;
    color: var(--color-primary);
    
}

.card-content{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
    height: 700px;
    
    background-color: var(--color-primary);
    border-radius: 50px;   
    box-shadow: 0px 4px 4px rgb(0, 0, 0, 0.5);
    gap: 30px;

    color: var(--color-white);
    font-size: 20px;
    overflow: hidden;
}

.card-content a{
    border-radius: 70px;
    font-size: 35px;
    padding: 30px 45px;;
    color: var(--color-white);
    background-color: var(--color-secondary);
    border-style: none;
    
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.card-content p{
    font-size: 30px;
    text-align: center;
    margin: 20px;
    line-height: 50px;
    margin-top: 50px;
    
}

.divCardIMG{
    margin: 0px 30px 0px 30px;
}

.divCardIMG img{
    width: 400px;
    border-radius: 30px;
    margin-top: 30px;
    height: 300px;
    
    
    
}

.container div img{
    height: 100%px;
    width: 100%;
}

.swiper {
    
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 0px;
    
}

.swiper-wrapper{
    display: flex;
    justify-content: center;
}

/*Tempo*/

#tempo{
    height: 900px;
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#tempo h1{
    text-align: center;
    color: var(--color-primary);
    font-size: 50px;
    padding-top: 8px;
}

#divTempo{
    background-color: var(--color-secondary);
    height: 700px;
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.containertempo{
    height: 500px;
    width: 640px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 50px;
    color: var(--color-white);
}

#divisor {
    height: 400px;
    width: 4px;
    background-color: var(--color-white);
}

.containertempo div{
    display: flex;
    align-items: center;
    gap: 10px;
}

.containertempo div img{
    height: 60px;
    width: 90px;
}



/*Footer*/

#contato{
    height: 390px;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-secondary);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: var(--color-white);
}

#contatoP{
 padding-left: 60px;
}

#divContatos{
    display: flex;
    justify-content: center;
    gap: 40px;
    font-size: 25px;
    height: 180px;
}

#divContatos a{
    height: 10px;
    width: 30px;
}


.IMGp{
    height: 50px;
    width: 50px;
}

.IMGpGithub{
    height: 60px;
    width: 60px;
}

#divByron{
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 140px;
    padding-right: 30px;
}

#divByron a{
    color: black;
    text-decoration: none;
    font-size: 40px;
    font-weight: 600;
}

#contatoH1{
    align-items: center;
    color: var(--color-primary);
    text-align: center;
    font-size: 50px;
}

.divContatos p{

    text-align: center;
}



